@model cd_c_productsCategories.Models.ProductsHasCategories

<form action="/addproducttocategory" method="post" class="form-group">
    <div class="card m-1 p-3">
        <div>
            <span asp-validation-for="ProductId"></span>
        </div>
        <label asp-for="ProductId"></label>
        <select asp-for="ProductId" class="form-control">
            <option disabled selected hidden>--Please Select a Product--</option>
            @{
                foreach (var p in ViewBag.NotCategoryProducts)
                {
                    <option value="@p.ProductId">@p.ProductName</option>
                }
            }
        </select>

        <input asp-for="CategoryId" value="@ViewBag.ThisCategory.CategoryId" type="hidden">
            
    </div>

    <input class="mt-3" type="submit" value="Add">
</form>