

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Products Have Categories</title>
</head>
<body>
    <div class="container"> <!-- BEGIN WHOLE PAGE CONTAINER -->
        <div class="row"> <!-- BEGIN HEADER ROW -->
            <h4>@ViewBag.thisproduct.ProductName</h4>
        </div> <!-- END HEADER ROW -->

        <div class="row"> <!-- BEGIN MAIN BODY ROW -->
            <div class="col"> <!-- BEGIN CATEGORY LIST COLUMN -->
                <div class="container">
                    <h4>Categories:</h4>
                    <div class="card m-1 p-3">
                        @{
                            foreach(var p in ViewBag.thisproduct.Categories)
                            {
                                <p>@p.Category.CategoryName</p>
                            }
                        }
                    </div>
                </div>
            </div> <!-- BEGIN CATEGORY LIST COLUMN -->

            <div class="col"> <!-- BEGIN ADD CATEGORY TO PRODUCT FORM COLUMN -->
                <div class="container">
                    <h4>Add Category</h4>
                    <partial name="ProductshasCategoriesPartial" />
                </div>


            </div> <!-- END ADD CATEGORY TO PRODUCT FORM COLUMN -->
        </div> <!-- BEGIN MAIN BODY ROW -->


    </div> <!-- END WHOLE PAGE CONTAINER -->
</body>
</html>